<a href="{{ "/ctf/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF-Writeups</h2></a>
|
<a href="{{ "/htb_box/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">HTB-Box</h2></a>
|
<a href="{{ "/htb_challenge/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">HTB-Challenges</h2></a>
|
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
|
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>

